.container{
    display: inline-block;
    width: calc(100% - 2.5rem);
    height: 100%;
    vertical-align: top;
}

.items{
    display: block;
    width: 80%;
    height: calc(100% - 5rem);
    margin: 0 auto;
    overflow: auto;
}

.footer{
    display: block;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}